github "ReactiveX/RxSwift"
github "realm/realm-cocoa"
github "Quick/Quick"
github "Quick/Nimble"
github "QueryKit/QueryKit"
github "Alamofire/Alamofire"
github "RxSwiftCommunity/RxAlamofire"
github "Hearst-DD/ObjectMapper"
github "RxSwiftCommunity/RxRealm"