<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanArchitectureRxSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>CoreDataPlatform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Domain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Network.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>RealmPlatform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25897AFF1E58BD9100D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B131E58BD9100D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B271E58BF0D00D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B2F1E58BF0D00D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B4A1E58BF3600D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B521E58BF3600D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B6C1E58BF4600D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25897B741E58BF4600D3563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD107F481E7298690043D900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD107F501E7298690043D900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
